Flask==2.2.2
torch==2.4.0
transformers==4.30.0
deep-translator==1.11.4
beautifulsoup4==4.13.3
requests==2.32.3
duckduckgo_search==7.5.2
google_search_results==2.4.2
googletrans==4.0.0rc1
numpy==1.21.6
psutil==7.0.0
pydantic==2.10.6
pyspellchecker==0.8.2
sympy==1.13.1
tokenizers==0.21.0
Werkzeug==3.1.3
